body {
    font-family: Arial, sans-serif;
    margin: 0;
    background-color: #f4f4f4;
}

header {
    display: flex;
    align-items: center; /* Alinear verticalmente la imagen y el texto */
    justify-content: center; /* Centrar el contenido del encabezado */
    margin: 20px 0;
}

.icono-titulo {
    width: 70px; /* Ajustar el tamaño de la imagen */
    height: auto; /* Mantener la proporción */
    margin-right: 10px; /* Espacio entre la imagen y el texto */
}

h1 {
    margin: 0;
    text-align: center;
    margin-top: 30px;
    margin-bottom:20px;
}

form {
    background: rgba(255, 255, 255, 0.9);
    padding: 20px;
    border-radius: 10px;
    box-shadow: 0 2px 5px rgba(0, 0, 0, 0.2);
    max-width: 600px;
    margin: 0 auto;
}

label, fieldset {
    display: block;
    margin-bottom: 10px;
}

input {
    width: 100%;
    padding: 8px;
    margin-top: 5px;
    margin-bottom: 15px;
    border-radius: 5px;
    border: 1px solid #ddd;
    box-sizing: border-box;
}

fieldset {
    border: 1px solid #ddd;
    padding: 10px;
    border-radius: 5px;
    margin-bottom: 15px;
    text-align: center;
}

#jugadores-container {
    display: flex;
    flex-direction: column;
    align-items: center;
    gap: 10px;
}

#jugadores-container div {
    display: flex;
    align-items: center;
    justify-content: center;
}

#jugadores-container input[type="checkbox"] {
    margin: 0;
    margin-right: 0;
}

label {
    margin-left: 0;
}

button {
    background-color: #4CAF50;
    color: white;
    padding: 10px;
    border: none;
    border-radius: 5px;
    cursor: pointer;
    margin-top: 10px;
    width: 100%;
    box-sizing: border-box;
}

button:hover {
    background-color: #45a049;
}

#resultado {
    margin-top: 20px;
    background: rgba(255, 255, 255, 0.9);
    padding: 15px;
    border-radius: 10px;
    box-shadow: 0 2px 5px rgba(0, 0, 0, 0.2);
    white-space: pre-line;
    max-width: 600px;
    margin: 20px auto;
}

@media (max-width: 600px) {
    form, #resultado {
        padding: 15px;
    }
}
